<div class="header_Url">
    <img [src]="iconUrlCar" alt="Car">
    <div class="Right_side">
            <a routerLink="">Home</a>
            <a routerLink="/contact">Contact Us</a>
            <a routerLink="/about">About Us</a>
            <a routerLink="/Login">Login</a>
            <a routerLink="/cart">Cart</a>
    </div>
</div>


<div class="header_main">
    <img [src]="logoUrlPT" alt="Logo">
    <div class="search_container">

        <select class="category_dropdown">
            <option value="">All Category</option>
            <option value=""></option>
        </select>
        <input type="text" placeholder="Search......" class="search_input">
        <button class="search_button">
            🔍
        </button>
    </div>
</div>